.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.video-options-position{
    bottom:90%;
    right:0;
}
.options-btn{
    background-color: var(--black-color);
    color:var(--white-color);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.video-duration{
    position: absolute;
    bottom: 7%;
    right: 0.5rem;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--black-color);
    color:var(--white-color);
    font-weight: 700;
}
.pb-4{
    padding-bottom: 4rem;
}
