.video{
    width: 80%;
}
.video-btn{
    padding:0.3rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 2rem;
    border: 2px solid var(--black-color);
}
.video-icon{
    font-size: 1.5rem;
}
.video-btn:hover {
    background-color: var(--danger-color);
    color: var(--white-color);
}

@media screen and (max-width:1140px) {
    .single-video-options {
        display: none;
    }
}

@media screen and (max-width:600px){ 
    .react-player{
        height: 20rem !important;
    }
    .wrap-suggested-videos{
        flex-wrap: wrap;
    }
    .video {
        width: 100%;
    }
}
